.koncham-treadmills>.nav-file>.nav-file-title {
    padding-left: 2px;
    padding-right: 2px;
}

.koncham-nav-note-flash {
    color: black;
    background-color: grey !important;
}

.koncham-nav-note-error {
    color: black;
    background-color: red !important;
}