/* .zz-placeholder {
    color: red;
} */


/* replaces font everywhere in obsidian */


/* body {
    font-family: monospace;
    font: 'Consolas', 'M+ 1m', 'iA Writer Mono S', 'M+ 1m', monospace, 'Source Code Pro';
    font-family: 'iA Writer Mono S';
} */


/* to get only note content to have a certain font */


/* .view-content {font-family: 'M+ 1m';} */